<?php

require_once __DIR__.'/../vendor/symfony-classloader/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Gittern'                      => __DIR__.'/../src',
    'Gaufrette'                    => __DIR__.'/../vendor/gaufrette/src',
    'org\\bovigo\\vfs'             => __DIR__.'/../vendor/vfsStream/src/main/php',
));

$zend_path = __DIR__.'/../vendor/php-reader/src';

$loader->registerPrefixes(array(
    'Zend_' => $zend_path,
));

set_include_path(get_include_path() . PATH_SEPARATOR . $zend_path);

$loader->register();
